/* navigation */
.nav-link {
  color: #af7537 !important;
}

.symbol {
  color: #af7537;
}

@media (max-width: 768px) {
  #box {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
  }

  h5 {
    font-size: smaller !important;
  }
}

/* about */
.icon-container {
  display: flex;
  gap: 10px;
}

.icon {
  color: white;
}
