/* navigation */
.nav-link {
  color: #af7537 !important;
}

.board {
  background-color: #f6c042;
  /* padding: 1px; */
}

#title {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 0.25rem;
}

.symbol {
  color: #af7537;
}

@media (max-width: 768px) {
  #box {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
  }

  h5 {
    font-size: smaller !important;
  }
}

/* about */
#about {
  margin-left: 7.5rem;
}

.icon {
  color: white;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
}
