/* GLOBAL CSS */

* {
font-family: 'Nunito Sans', sans-serif;
}

/* HOMEPAGE */

.mainCard {
  margin-left: 25%;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

@media (max-width: 768px) {

  .main-article {
    width: 100vw;
  }

  .secondaryTitle {
    font-weight: 800;
  }
}

/* CONTACT FORM */

.contact {
  margin-left: 33%;
}

.textarea {
  width: 100%;
  height: 15vh;
}

.contact-btn {
margin-top: 10px;
}